<nav class="navbar navbar-expand-lg navbar-dark bg-primary px-4">
  <div class="container-fluid">
    <a class="navbar-brand text-white"><strong>Online Shop</strong></a>
    <div class="navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto flex-row gap-3">
        <li class="nav-item">
          <a
            class="nav-link text-white"
            [routerLink]="['/order/display']"
            routerLinkActive="active"
            >Order</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-white"
            [routerLink]="['/customer/display']"
            routerLinkActive="active"
            >Customer</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-white"
            [routerLink]="['/item/display']"
            routerLinkActive="active"
            >Item</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
