<div class="container">
  <div class="form-wrap mt-lg-5 mb-4">
    <form id="survey-form">
      <div class="col">
        <div class="col">
          <div class="form-group">
            <label id="name-label" for="name">Item Name</label>
            <input
              type="text"
              name="itemsName"
              [(ngModel)]="updateItemObj.itemsName"
              id="name"
              placeholder="Enter your Item Name"
              class="form-control"
              required
            />
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label id="stock-label" for="stock">Stock</label>
            <input
              type="number"
              name="stock"
              [(ngModel)]="updateItemObj.stock"
              id="stock"
              placeholder="Enter your stock"
              class="form-control"
              required
              value="0"
            />
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label id="price-label" for="price">Price</label>
            <input
              type="number"
              name="price"
              [(ngModel)]="updateItemObj.price"
              id="price"
              placeholder="Enter Price"
              class="form-control"
              required
              min="0"
              step="0.01"
            />
          </div>
        </div>
        <div class="col">
          <button type="button" (click)="updateItem()" class="btn btn-primary">
            Update Item
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
