<div class="container">
  <div class="form-wrap mt-lg-5 mb-5">
    <form id="survey-form">
      <div class="col">
        <div class="col">
          <div class="form-group">
            <label id="name-label" for="name">Name</label>
            <input
              type="text"
              name="name"
              id="name"
              placeholder="Enter your name"
              class="form-control"
              required
            />
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label id="email-label" for="email">Address</label>
            <input
              type="email"
              name="email"
              id="email"
              placeholder="Enter your email"
              class="form-control"
              required
            />
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label id="number-label" for="number">Phone</label>
            <input
              type="tel"
              name="phone number"
              id="phoneNumber"
              placeholder="Enter your Phone Number"
              class="form-control"
              required
            />
          </div>
        </div>
      </div>
      <div class="col mb-5">
        <div class="text-start">
          <div class="form-group">
            <label id="name-label" for="name">Your Picture</label>
            <input
              class="form-control"
              type="file"
              (change)="onChange($event)"
            />
          </div>
        </div>

        <div class="container text-center jumbotron">
          @if (shortLink) {
          <h2>Visit Here</h2>
          <a href="{{ shortLink }}">{{ shortLink }}</a>
          }
        </div>

        <div class="container">
          @if (loading) {
          <h3>Loading ...</h3>
          }
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <button
            (click)="onUpload()"
            type="button"
            id="button"
            class="btn btn-primary btn-block"
          >
            Add Customer
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
